{% extends 'base.html.twig' %}

{% block title %} All Your Reservations Passed AndFuture </strong>!{% endblock %}

{% block body %}

    <div class="container">
        <h1 class="my-5">My Reservation</h1>
        <div class="alert alert-info mt-4">
            <p>Here You Can Find All The Reservations Passed And Future's Reservations</p>
        </div>
        {% for booking in app.user.bookings %}
        {% set ad = booking.ad %}
            <div class="row mt-4">
                <div class="col-md-4">
                    <img src="{{ ad.coverImage }}" alt="photo of the announce{{ ad.title }}" class="img-fluid">
                    <div class="mt-5">
                        {% set comment = ad.CommentFromAuthor(app.user) %}
                        {% if comment is not null %}
                        <strong>Rating Given :</strong>{% include 'incs/rating.html.twig' with {'rating':comment.rating} %}
                        {% else %}
                            You Didn't Give Your Opinion Yet.
                            <a href="{{ path('booking_show', {'id':booking.id}) }}#comment">I Give my Opinion!</a>
                        {% endif %}
                        
                    </div>
                </div>
                <div class="col-md-8">
                    <h4>{{ ad.title }}</h4>
                    <p>
                    Reservation <strong>N°{{ booking.id }}</strong><br>
                    From{{ booking.startDate | date('d/m/Y') }} To {{ booking.endDate | date('d/m/Y') }}({{ booking.amount | number_format(2,',',' ') }} &pound;)
                    </p>
                    <a href="{{ path('booking_show',{'id':booking.id}) }}" class="btn btn-info">More Infos</a>
                </div>
            </div>    
        {% endfor %}
    </div>

{% endblock %}

{% block javascripts %}{% endblock %}